<div class="users">
	<div class="user">
		<img src=<%="https://graph.facebook.com/" + data.owner + "/picture?type=normal"%> />
		<% if(!data.accept) {%>
			<p class="status"><span>Awaiting challenger</span></p>
		<% } else if(vote != null) { %>
			<% if(vote == data.owner) { %>
				<p class="status accepted"><span><img src="/assets/images/shield.png" />Brave Choice.</span></p>
			<% } else { %>
				<p class="status"><span>Denied</span></p>
			<% } %>
			<p><span id="owner_total"><%= owner_total %></span></p>
		<% } else { %>
			<!-- <p class="status accepted"><span><img src="/assets/images/shield.png" />Brave Choice.</span></p> -->
			<p class="status accepted"><span>Pick me!</span></p>

			<div class="modal" style"display: none;">
				<div class="backdrop"></div>
				
				<div class="modal_content">
					<div class="close">&times;</div>

					<div class="title">
						<img src=<%="https://graph.facebook.com/" + data.owner + "/picture?type=square"%> />
						<p>You're about to pick <%= data.owner_name %>. Choose wisely.</p>
					</div>

					<div class="split">
						<div class="left">
							<p class="header">Put your money where your mouth is!</p>
							<p>That's some confidence you have. Contribute a dollar via Dwolla to the winner of this duel!</p>

							<div class="actions">
								<a href="#" class="small_button orange"><span><img src="/assets/images/dwolla_small.png" />Pick + $1 via Dwolla</span></a>
							</div>
						</div>
						<div class="right">
							<p class="header">Just make your pick and move along.</p>
							<p>No worries. Every vote counts, as they say. Etch your choice in stone and submit your pick right meow.</p>
							
							<div class="actions">
								<a href=<%= "/duel/" + data.duel_id + "/vote?vote=" + data.owner %> class="small_button purple"><span>Submit your pick</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% } %>
	</div>	

	<div class="vs"></div>

	<div class="user">
		<img src=<%="https://graph.facebook.com/" + data.challenger + "/picture?type=normal"%> />
		<% if(!data.accept) {%>
			<p class="status"><span>MIA</span></p>
		<% } else if(vote != null) { %>
			<% if(vote == data.challenger) { %>
				<p class="status accepted"><span><img src="/assets/images/shield.png" />Brave Choice.</span></p>
			<% } else { %>
				<p class="status"><span>Denied</span></p>
			<% } %>
			<p><span id="challenger_total"><%= challenger_total %></span></p>
		<% } else { %>
			<p class="status accepted"><span>Pick me!</span></p>

			<div class="modal" style"display: none;">
				<div class="backdrop"></div>
				
				<div class="modal_content">
					<div class="close">&times;</div>

					<div class="title">
						<img src=<%="https://graph.facebook.com/" + data.challenger + "/picture?type=square"%> />
						<p>You're about to pick <%= data.challenger_name %>. Choose wisely.</p>
					</div>

					<div class="split">
						<div class="left">
							<p class="header">Put your money where your mouth is!</p>
							<p>That's some confidence you have. Contribute a dollar via Dwolla to the winner of this duel!</p>

							<div class="actions">
								<a href="#" class="small_button orange"><span><img src="/assets/images/dwolla_small.png" />Pick + $1 via Dwolla</span></a>
							</div>
						</div>
						<div class="right">
							<p class="header">Just make your pick and move along.</p>
							<p>No worries. Every vote counts, as they say. Etch your choice in stone and submit your pick right meow.</p>
							
							<div class="actions">
								<a href=<%= "/duel/" + data.duel_id + "/vote?vote=" + data.challenger %> class="small_button purple"><span>Submit your pick</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</div>

<div id="accept">
	<div class="box">
		<h6>The Duel</h6>
		<hr />
		<p><%= data.desc %></p>
	</div>
	
	<% if(data.date < new Date().getTime()) { %>
		<h4>This duel has expired!</h4>
	<% } else { %>
		<div id="defaultCountdown" class="timer"></div>
	<% } %>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.countdown.js"></script>
<script src="/assets/js/modal.js"></script>
<script type="text/javascript">
$(function () {
	var endTime = new Date(<%= data.date %>);
	$('#defaultCountdown').countdown({until: endTime, onExpiry: expired});
});

var expired = function() {
	window.location.reload();
}
</script>
<script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
	// Enable pusher logging - don't include this in production
	Pusher.log = function(message) {
	  if (window.console && window.console.log) window.console.log(message);
	};

	// Flash fallback logging - don't include this in production
	WEB_SOCKET_DEBUG = true;

	var pusher = new Pusher('78011045678593d481df');
	var channel = pusher.subscribe("<%= data.duel_id %>");
	channel.bind('my_event', function(data) {
	  if(data.is_owner) {
	  	$("#owner_total").val(parseInt($("#owner_total").val()) + 1);
	  }
	  else {
	  	$("#challenger_total").val(parseInt($("#owner_total").val()) + 1);
	  }
	});
</script>